<div class="comment">
  <div>
    <p>
      <span class="comment-author">{{c.author}} said: </span>
      <span class="comment-date">{{c.created.strftime("%b %d, %Y")}}</span>
    </p>
  </div>
  <br>
  <div class="comment-content">
      {{c._render_text | safe}}
  </div>
  <div class="comment-footer">
    <a class="comment-edit" href={{'/c_edit/{}'.format(c.key().id())}} >Eidt </a> | <a class="comment-edit" onclick="return window.confirm('Do you want to delete this Comment?')"   href={{'/c_delete/{}'.format(c.key().id())}} >Delete </a>
  </div>
</div>