{% extends "base.html" %}

{% block contents %}
    <div class="login-area">
      Welcome, {{username}} | <a class="login-link" onclick="window.history.go(-1)">Back</a> | <a class="login-link" href="/logout">Logout</a>
    </div>
    <form method="post">
      <h2>Edit Post</h2>
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <div class="submit">
        <input class="submit" type="submit" value="Submit">
        <button class="submit" type="button" onclick="window.history.go(-1)" > Cancel </button>
      </div>

    </form>

{% endblock %}