<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <style type="text/css">
      body {
        width: 500px;
        margin: 0 auto;
        padding: 0px;
      }
      form {
        font-size: 20px;
        width: 500px;
        margin: 0 auto;
        padding: 0px;
      }
      button{
        display: table;
        width: 100px;
        text-align: center;
      }
      .label {text-align: right;}
      .error {color: red}
      .footer {text-decoration:none; font-weight: bold; color: black}
      .footer:hover{color: gray;}
    </style>
  </head>

  <body>

    <form class="signup" method="post">
      <h2>Signup</h2>
      <hr>
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="      Submit     ">
          </td>
        </tr>
      </table>
    </form>
    <br>
     <div >
      <a class="footer" href='/login'>Login</a> | <a class="footer" href='/blog'>Back to blog</a>
    </div>
  </body>

</html>
